<div>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Family Name</th>
                <th>Username</th>
                <th>Role</th>
                <th *ngIf="isAdmin">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td *ngIf="isAdmin">
                    <button *ngIf="user.id !== currentUser.id">Delete</button>
                    <button [routerLink]="['/editUser', user.id]">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="isAdmin" routerLink="/addUser">Add User</button>
</div>