<div>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Family Name</th>
                <th>Username</th>
                <th>Role</th>
                @if(isAdmin){
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(user of users; track user.id){
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.familyName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <!-- <td *ngIf="isAdmin">
                        <button (click)="deleteUser(user.id)">Delete</button>
                        <button [routerLink]="['/users/edit', user.id]">Edit</button>
                    </td> -->
            </tr>
            }

        </tbody>
    </table>
    @if(isAdmin){
        <button routerLink="/users/add">Add User</button>
    }
</div>