<div class="user-list-container">
    <h1>User List</h1>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Family Name</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th *ngIf="isAdmin">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users;">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role | role }}</td>
                    <td *ngIf="isAdmin" class="actions">
                        <button class="edit-btn" [routerLink]="['/editUser', user.id]">
                            Edit
                        </button>
                        <button class="delete-btn" (click)="deleteUser(user.id)" *ngIf="user.id !== currentUser.id">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="add-user-btn" *ngIf="isAdmin" routerLink="/addUser">Add User</button>
</div>
