<div class="add-user-container">
    <h2>Add New User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitaddUser()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text" placeholder="Enter name" />
        </div>
        <div class="form-group">
            <label for="familyName">Family Name</label>
            <input id="familyName" formControlName="familyName" type="text" placeholder="Enter family name" />
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select formControlName="role" id="role">
                <option value="1">Admin</option>
                <option value="0">User</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nationalCode">National Code</label>
            <input id="nationalCode" formControlName="nationalCode" type="text" placeholder="Enter national code" />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Enter phone number" />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" formControlName="username" type="text" placeholder="Choose a username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" placeholder="Enter password" />
        </div>
        <button type="submit" [disabled]="userForm.invalid">Add User</button>
    </form>
</div>
