<div class="addUser-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitaddUser()">
        <div>
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text" />
        </div>
        <div>
            <label for="familyName">Family Name</label>
            <input id="familyName" formControlName="familyName" type="text" />
        </div>
        <div>
            <label for="role">role</label>
            <select formControlName="role" id="role">
                <option value=1>admin</option>
                <option value=0>user</option>
            </select>
        </div>
        <div>
            <label for="nationalCode">National Code</label>
            <input id="nationalCode" formControlName="nationalCode" type="text" />
        </div>
        <div>
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" formControlName="phoneNumber" type="text" />
        </div>
        <div>
            <label for="username">Username</label>
            <input id="username" formControlName="username" type="text" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" />
        </div>
        <button type="submit" [disabled]="userForm.invalid">Add User</button>
    </form>
</div>