<div class="add-user-container">
    <h2>Edit User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitEdit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" formControlName="name" type="text" />
        </div>

        <div class="form-group">
            <label for="familyName">Family Name:</label>
            <input id="familyName" formControlName="familyName" type="text" />
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" formControlName="role">
                <option [value]=1>Admin</option>
                <option [value]=0>User</option>
            </select>
        </div>

        <div class="form-group">
            <label for="nationalCode">National Code:</label>
            <input id="nationalCode" formControlName="nationalCode" type="text" />
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input id="phoneNumber" formControlName="phoneNumber" type="text" />
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" formControlName="username" type="text" >
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" formControlName="password" type="password" />
        </div>

        <button type="submit" (click)="onSubmitEdit()">Save Changes</button>
        <button type="button" (click)="router.navigate(['/usersList'])">Cancel</button>
    </form>
</div>