<div>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Weight</th>
                @if(isAdmin){
                <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(product of products; track product.id){
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.weight }}</td>
                @if(isAdmin){
                    <td>
                        @if(product.id !== currentUser.id ){
                            <button>Delete</button>
                        }
                        <button [routerLink]="['/editProduct', product.id]">Edit</button>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
    @if(isAdmin){
    <button routerLink="/addProduct">Add Product</button>
    }
</div>
