<div class="user-list-container">
    <h1>Product List</h1>
    <div class="table-wrapper">
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Weight</th>
                    @if(isAdmin){
                    <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(product of products; track product.id){
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.weight }}</td>
                    @if(isAdmin){
                    <td>
                        @if(product.id !== currentUser.id ){
                        <button class="delete-btn" (click)="deleteProduct(product.id)">Delete</button>
                        }
                        <button class="edit-btn" [routerLink]="['/editProduct', product.id]">Edit</button>
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    @if(isAdmin){
    <button class="add-userr-btn" routerLink="/addProduct">Add Product</button>
    }
</div>